/* IMPORT FONTES */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* CSS RESET */
* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ESTILIZAÇÃO GLOBAL */
html {
  height: 100%;
  width: 100%;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
}

body {
  background-color: #f4f4f4;
}

/* PÁGINA HOME */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}

.logo {
  width: 45vw;
  height: auto;
  margin-bottom: 1rem;
}

.search-input {
  width: 65vw;
  background: url(./img/search-icon.png) no-repeat 0.5rem 0.3rem #fff;
  border-radius: 3rem;
  border: solid 0.15rem #393859;
  padding: 0.3rem 0.5rem;
  padding-left: 2rem;
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem;
  outline: none;
}

.navbar {
  margin: 1.5rem 0;
}

.nav-item {
  background-size: 100% 190%;
  padding: 0.7rem 0;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.3rem;
  color: #fff;
  background-color: #393859;
}

.nav-item-movies {
  background-image: linear-gradient(to top, #393859, #4BBF9E);
}

.nav-item-series {
  background-image: linear-gradient(to top, #393859, #E34646);
}

.nav-item-selected {
  background-image: none;
}


/* RODAPÉ */
.footer-about {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.footer-text {
  background-color: #393859;
  padding: 0.3rem;
  font-size: 0.7rem;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}